body {
    font-family: 'Manrope', sans-serif;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #3A3A3A;
    text-align: center;
    margin: 20px 0 32px 0;
}

.product-section {
    display: flex;
    flex-direction: column;
    
}

.container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.flex-container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    
}

.img-text {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    background-color: #E97171;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-text1 {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 48px;
    height: 48px;
    background-color: #2EC1AC;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block2 {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 31px;
    padding-bottom: 30px;
}

.p2 {
    font-size: 14px;
    color: #FFFFFF;
}

.p3 {
    font-size: 14px;
    color: #FFFFFF;
}

.flex-img {
    position: relative;

}

.block {
    position: relative;
    background-color: #F4F5F7;
    margin: 0 32px 32px 0;
}

.block-last {
    margin-right: 0;
}


.p {
    font-size: 22px;
    font-weight: 600;
    color: #3A3A3A;
    margin-bottom: 8px;
    margin-top: 0;
}

.p1 {
    font-size: 14px;
    font-weight: 500;
    color: #898989;
    margin-bottom: 8px;
    margin-top: 0;
}

.flex-container1 {
    display: flex;
    justify-content: space-between;
}

.flex1 {
    font-size: 18px;
    font-weight: 600;
    color: #3A3A3A;
}

.flex2 {
    font-size: 14px;
    font-weight: 400;
    color: #B0B0B0;
    text-decoration-line: line-through;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.button1 {
    
    background: #FFFFFF;
    border: 1px solid #E89F71;
    padding: 12px 82px;
    color: #E89F71;

}

.button1:hover {
    cursor: pointer;
    background: wheat;
}

.button-wrap {
    position: absolute;
    display: flex;
    top: 175px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.button2 {
    background: #FFFFFF;
    border: 1px solid #E89F71;
    padding: 12px 82px;
    color: #E89F71;
    margin-bottom: 24px;
}


.text {
    padding-left: 9px;
}

.add-card-block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #3A3A3A;
    opacity: 0;
    transition: opacity .2s;
}

.block:hover .add-card-block {
    opacity: 0.72;
}

.button2:hover {
    cursor: pointer;
    background: wheat;
}

.button-block {
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    
}

.button-blocks {
    background: none;
    border: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    
}

.button-block::before {
    content: url(/img/Vector\ \(1\).png);
    height: 27px;
}

.button-blocks::before {
    content: url(/img/Vector.png);
}

footer {
    width: 100%;
    min-height: 50px;
    border-top: 1px solid #D8D8D8;
    margin-top: 87px;
    padding-top: 31px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-top: 0;
    margin-bottom: 8px;
}

.about {
    display: flex;
    flex-direction: column;
    margin-top: 49px;
    width: 249px;
}

.descr {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #616161;
    margin-top: 8px;
    margin-bottom: 0;
    text-decoration: none;
}

.maps {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #616161;
    margin-top: 16px;
    margin-bottom: 0;
    text-decoration: none;
}

.tel {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #616161;
    margin-top: 16px;
    margin-bottom: 0;
    text-decoration: none;
}

.tel::before {
    content: url(/img/Tel.png) ''; 
}

.web {
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #616161;
    margin-top: 16px;
    margin-bottom: 0;
    padding-bottom: 50px;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-top: 49px;
}

.acc {
    display: flex;
    flex-direction: column;
    margin-top: 49px;
}

.connect {
    display: flex;
    flex-direction: column;
    margin-top: 49px;
}

.updt {
    display: flex;
    flex-direction: column;
    margin-top: 49px;
    position: relative;
}

input[type=text] {
    background: #F4F5F7;
    
    height: 45px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #828282;
    margin-top: 16px;
    padding-left: 12px;
}

.sbmt {
    position: absolute;
    top: 49px;
    right: 0;
    width: 46px;
    height: 45px;
    background-color: #E89F71;
    border: none;
    cursor: pointer;
}

.wrap {
    
}

.tips {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 0;
}

.box {
    margin-right: 32px;
    margin-bottom: 51px;
}

.box-last {
    margin-right: 0;
}

.block3 {
    padding-top: 16px;
    padding-left: 16px;
    padding-bottom: 8px;
    background: #FFFFFF;
}

.control {
    position: absolute;
    top: 166px;
    right: -25px;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 14px 1px 
    rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.control-left {
    position: absolute;
    top: 166px;
    left: -25px;
    width: 48px;
    height: 48px;
    background-color: #FFFFFF;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 14px 1px 
    rgba(0, 0, 0, 0.16);
    cursor: pointer;
  
}

.indicator {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ellipse {
    background: #D8D8D8;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    margin-right: 20px;
    margin-bottom: 8px;
    border: none;
    cursor: pointer;
}
